.contact {
    background: var(--dark-bg);
    padding: 60px 0;
}
.contact__form {
    margin: 0 20px;
    width: calc(75% - 30px);
    @include for-mobile-only {  
        width: 100%;
    }

    input, textarea {
        width: 100%;
        background: #454545;
        line-height: 40px;
        border: none;
        padding: 0 15px;
        margin-bottom: 15px;
        color: var(--main-color);
        font-size: var(--font-small);
    }
}
.contact__info {
    font-size: var(--font-small);
    margin-right: 20px;
    margin-top : em(100px);
    width: calc(25% - 30px);
    @include for-mobile-only {  
        width: 100%;
    }
}
.contact__info-details{
    margin-top : em(55px);
}
.contact__info-desc {
    height: 117px;
    width: 180px;
    line-height: 22px;
    @include for-mobile-only {  
        width: 100%;
        height: auto;
    }
}
.contact-form__sumbit-button {
    border: none;
    color : #d7fcf5;
    @include for-mobile-only {  
        width: 100%;
    }
}