footer {
    background: #222;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    font-size: var(--font-small);
    color: #454545;
    @include for-mobile-only {  
        text-align: center;
    }
}