.meme-chooser {
    margin-top: 75px;

    .container {
        padding: 0;
    }
}

.controls {
    .container {
        border-top: solid 1px var(--light-border);
        padding: 25px 70px;
    }
}

.gallery__container {
    margin-bottom: 50px;
    display: block;
    img {
        width: 60px;
        float: left;
    }
    .hide {
        display:none;
    }
}

/*-----------Controls---------------*/

.controls input {
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 180px;
    border: none;
    border-top: 1px solid var(--dark-bg);
    border-right: 1px solid var(--dark-bg);
}