.meme-chooser {
    margin-top: 75px;
    .container {
        padding: 0;
        @include for-narrow-layout {  
            justify-content: center;
        }
    }
}

#meme-gallery {
    margin: 0 10px;
}

.controls {
    .container {
        border-top: solid 1px var(--light-border);
        padding: 25px 70px;
    }
}

.gallery__container {
    margin: 20px auto 50px auto;
    display: block;
    img {
        width: 60px;
        float: left;
    }
    .hide {
        display:none;
    }
}

/*-----------Controls---------------*/

.controls input {
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 180px;
    border: none;
    border-top: 1px solid var(--dark-bg);
    border-bottom: 1px solid var(--dark-bg);
    color: var(--dark-bg);
    font-size: var(--font-small);
    padding: 0 20px;
}

.controls__inputs button {
    background: var(--warm-bg);
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    border: 1px solid var(--dark-bg);
    border-left: none;
    top: 0;
    right: -35px;
    color: #fff;
}

.controls__inputs button:hover {
    background: var(--active-color);
}

.controls__buttons button {
    background: #fff;
    border: 1px solid var(--dark-bg);
    width: 35px;
    height: 35px;
}

.controls__buttons {
  @include for-narrow-layout {  
    display: none;
  }
}

.controls__inputs {
    @include for-mobile-only {  
        text-align: center;
    }
}



/*--------------Triangle Sides -------------------*/

.triangle-sides {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    &:first-child {
        margin-left: 25px;
        @include for-mobile-only {  
        margin-bottom: 20px;
        }
    }
}
.triangle-sides:after, .triangle-sides:before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid var(--dark-bg);
    position: absolute;
    z-index: -1;
    top: 5px;
    background: #fff;
    transform: rotate(45deg);
}

.triangle-sides:before {
    left: -12px;
}

.triangle-sides:after {
    right: -12px;  
}

/*-----------Single  Hexagon ------------------*/

.hexagon {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    &:last-child {
        margin-right: 0;
    }
}