$container-width: 1063px;
$mobile-breakpoint: 642px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Playfair;
  --secondary-font: Ubuntu;
  /* Colors */
  --main-color: #bebebe;
  --title-color: #e0e0e0;
  --active-color: #2eb398;
  /* Background Colors */
  --dark-bg: #323232;
}


